<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CSE224"
        tools:targetApi="31">
        <activity
            android:name=".Popupdialogue"
            android:exported="true" />
        <activity
            android:name=".ContextmenuExample"
            android:exported="true" />
        <activity
            android:name=".MainActivity2"
            android:exported="false" />
        <activity
            android:name=".CustomDialogDemo"
            android:exported="true" />
        <activity
            android:name=".DialogClass"
            android:exported="false" />
        <activity
            android:name=".BasicAlertDialog"
            android:exported="true" />
        <activity
            android:name=".AppChooserClass"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AppChooserDemo"
            android:exported="true" />
        <activity
            android:name=".PermissionsSample"
            android:exported="true" />
        <activity
            android:name=".Actionbardemo"
            android:exported="true" />
        <activity
            android:name=".ImplicitIntentdemo"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SnackbarClass1"
            android:exported="true" />
        <activity
            android:name=".SnackDemo"
            android:exported="true" />
        <activity
            android:name=".Localexample2"
            android:exported="true" />
        <activity
            android:name=".Localexample"
            android:exported="true" />
        <activity
            android:name=".IntentClass2"
            android:exported="true" />
        <activity
            android:name=".IntentClass1"
            android:exported="true" />
        <activity
            android:name=".intent2"
            android:exported="true" />
        <activity
            android:name=".IntentDemo"
            android:exported="true" />
        <activity
            android:name=".ListViewClass"
            android:exported="false" />
        <activity
            android:name=".ConstraintClass"
            android:exported="true" />
        <activity
            android:name=".ListViewDemo"
            android:exported="true" />
        <activity
            android:name=".ConstraintDemo2"
            android:exported="false" />
        <activity
            android:name=".ConstraintDemo"
            android:exported="true" />
        <activity
            android:name=".Listspinnerdemo"
            android:exported="true" />
        <activity
            android:name=".Radiocheckclass"
            android:exported="true" />
        <activity
            android:name=".Gridlayoutclass"
            android:exported="true" />
        <activity
            android:name=".Griddemo"
            android:exported="false" />
        <activity
            android:name=".RelDemo"
            android:exported="false" />
        <activity
            android:name=".unit2"
            android:exported="true" />
        <activity
            android:name=".LinearActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>